<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
  <!-- Loop through the projects -->
  @for (project of projects; track project) {
    <div
      class="bg-bgSecondary rounded-lg overflow-hidden shadow-md hover:bg-bgSecondaryAlt"
      >
      <div class="flex flex-col">
        <!-- Project Image -->
        <img class="p-8 rounded-t-lg w-full h-60 object-cover" [src]="project.imageSrc" alt="{{ project.title }}" />
        <!-- Project Content -->
        <div class="px-5 pb-5">
          <h5 class="text-xl font-semibold tracking-tight text-gray-200">{{ project.title }}</h5>
          <div class="flex items-center mt-2.5 mb-5 text-gray-300">{{ project.description }}</div>
          <div class="flex justify-end">
            <button
              type="button"
              (click)="openProjectDetails(project)"
              data-modal-target="project-modal"
              data-modal-toggle="project-modal"
              class="transition-colors duration-500 ease-in-out text-white hover:text-bgColor bg-btnBg hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-accentColorSecondary font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
              Read more...
            </button>
          </div>
        </div>
      </div>
    </div>
  }
</div>

<!-- Modal -->
<div
  id="project-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-full flex items-center justify-center"
  >
  <div class="relative w-full max-w-2xl h-full">
    <!-- Modal Content -->
    <div class="relative bg-bgSecondaryAlt rounded-lg shadow flex flex-col h-full">
      <!-- Modal Header -->
      <div class="flex justify-between items-center p-4 rounded-t border-b border-gray-300">
        <h3 class="text-xl font-semibold text-gray-200">{{ selectedProject?.title }}</h3>
        <button
          type="button"
          data-modal-hide="project-modal"
          class="text-gray-400 bg-transparent hover:bg-gray-800 hover:text-white rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          >
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="p-6 space-y-6 flex flex-col h-full overflow-auto">
        <!-- Carousel Section -->
        @if (selectedProject?.carouselImages?.length > 0) {
          <div id="indicators-carousel" class="relative w-full flex-shrink-0" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
              <!-- Loop through images -->
              @for (image of selectedProject.carouselImages; track image; let i = $index) {
                <div
                  [class.hidden]="i !== currentImageIndex"
                  class="duration-700 ease-in-out">
                  <img [src]="image"
                    class="absolute block w-full h-full object-contain -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                    alt="carousel image {{ i + 1 }}"
                    (click)="openImageModal(image)">
                </div>
              }
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
              @for (image of selectedProject.carouselImages; track image; let i = $index) {
                <button
                  type="button"
                  class="w-3 h-3 rounded-full"
                  [attr.aria-current]="currentImageIndex === i ? 'true' : 'false'"
                  [attr.aria-label]="'Slide ' + (i + 1)"
                  (click)="currentImageIndex = i"
                  [ngClass]="{'bg-white': currentImageIndex !== i, 'bg-gray-500': currentImageIndex === i}">
                </button>
              }
            </div>
            <!-- Slider controls -->
            <button type="button"
              class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-prev
              (click)="currentImageIndex = (currentImageIndex - 1 + selectedProject.carouselImages.length) % selectedProject.carouselImages.length">
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button"
              class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-next
              (click)="currentImageIndex = (currentImageIndex + 1) % selectedProject.carouselImages.length">
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        }

        <!-- Description Section -->
        <div class="flex flex-col mt-auto">
          <p class="text-gray-300 break-words overflow-auto h-full">
            {{ selectedProject?.details }}
          </p>
        </div>
      </div>

      <!-- Footer -->
      <div class="bg-bgSecondaryAlt text-white p-4 text-center border-t border-gray-300">
        @if (selectedProject?.link) {
          <a
            [href]="selectedProject?.link"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white bg-btnBg hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-accentColorSecondary font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
            Source Code
          </a>
        }
      </div>

      <!-- Modal for enlarged image -->
      @if (selectedImage) {
        <div class="fixed inset-0 bg-black bg-opacity-75 z-50 flex items-center justify-center" (click)="closeImageModal()">
          <img [src]="selectedImage" class="max-w-full max-h-full object-contain cursor-pointer" alt="Enlarged image">
        </div>
      }