<!-- Main Wrapper -->
<div class="flex flex-col lg:flex-row gap-10">
    <!-- Project 1 -->
    <div class="w-full lg:max-w-sm bg-bgSecondary rounded-lg overflow-hidden shadow-md hover:bg-bgSecondaryAlt">
        <div class="flex flex-col">
            <img class="p-8 rounded-t-lg w-full h-60 object-cover" src="../../../../assets/img/project_1.svg" alt="project image" />
            <div class="px-5 pb-5">
                <h5 class="text-xl font-semibold tracking-tight text-gray-200">Athena</h5>
                <div class="flex items-center mt-2.5 mb-5 text-gray-300">
                    An ERP Web Application
                </div>
                <div class="flex justify-end">
                    <button type="button" data-modal-toggle="project-1-modal" class="transition-colors duration-500 ease-in-out text-white hover:text-bgColor bg-btnBg hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-accentColorSecondary font-medium rounded-lg text-sm px-5 py-2.5 text-center">Read more...</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Project 1 -->

    <!-- Project 2 -->
    <div class="w-full lg:max-w-sm bg-bgSecondary rounded-lg overflow-hidden shadow-md hover:bg-bgSecondaryAlt">
        <div class="flex flex-col">
            <img class="p-8 rounded-t-lg w-full h-60 object-cover" src="../../../../assets/img/project_2.svg" alt="project image" />
            <div class="px-5 pb-5">
                <h5 class="text-xl font-semibold tracking-tight text-gray-200">Health Management System</h5>
                <div class="flex items-center mt-2.5 mb-5 text-gray-300">
                    A mobile application to keep track of user's medical records
                </div>
                <div class="flex justify-end">
                    <button type="button" data-modal-toggle="project-2-modal" class="transition-colors duration-500 ease-in-out text-white hover:text-bgColor bg-btnBg hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-accentColorSecondary font-medium rounded-lg text-sm px-5 py-2.5 text-center">Read more...</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Project 2 -->

    <!-- Project 3 -->
    <div class="w-full lg:max-w-sm bg-bgSecondary rounded-lg overflow-hidden shadow-md hover:bg-bgSecondaryAlt">
        <div class="flex flex-col">
            <img class="p-8 rounded-t-lg w-full h-60 object-cover" src="../../../../assets/img/project_3.svg" alt="project image" />
            <div class="px-5 pb-5">
                <h5 class="text-xl font-semibold tracking-tight text-gray-200">Home Media Server</h5>
                <div class="flex items-center mt-2.5 mb-5 text-gray-300">
                    A DLNA solution controlled by RPI
                </div>
                <div class="flex justify-end">
                    <button type="button" data-modal-toggle="project-3-modal" class="transition-colors duration-500 ease-in-out text-white hover:text-bgColor bg-btnBg hover:bg-accentColor focus:ring-4 focus:outline-none focus:ring-accentColorSecondary font-medium rounded-lg text-sm px-5 py-2.5 text-center">Read more...</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Project 3 -->

</div>
<!-- Main Wrapper -->

<!-- Modals -->

<!-- Project 1 Modal -->
<div id="project-1-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-7xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-bgSecondary rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-5 rounded-t border-b">
                <h3 class="text-xl font-medium text-gray-200">
                    Athena
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-accentColor hover:text-bgColor rounded-lg text-sm p-1.5 ml-auto inline-flex items-center transition-colors duration-500 ease-in-out focus:ring-4 focus:ring-accentColorSecondary focus:outline-none" data-modal-toggle="project-1-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <!-- Carousel Starts Here -->
                <div id="default-carousel" class="relative" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-60 overflow-hidden rounded-lg lg:h-96">
                        <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/1.1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/1.2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/2.1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 4 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/2.2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 5 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/3.1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 6 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/athena/3.2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-gray-600 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-bgColor sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-gray-600 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-bgColor sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
                <!-- Carousel Ends Here -->
                <div class="text-gray-200">
                    <p class="text-base leading-relaxed text-gray-300">
                        Athena is an ERP system I developed for Archirodon Overseas while working for them as a Full-Stack Developer. It is designed using Django Rest Framework as the back-end API server, Angular 14 as the front-end, and PostgreSQL as the main database.
                    </p>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button type="button" data-modal-toggle="project-1-modal" class="disabled shadow-md bg-btnBg text-gray-100 focus:ring-4 focus:ring-accentColorSecondary focus:outline-none hover:bg-accentColor hover:text-bgColor transition-colors duration-500 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Project 1 Modal -->

<!-- Project 2 Modal -->
<div id="project-2-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-bgSecondary rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-5 rounded-t border-b">
                <h3 class="text-xl font-medium text-gray-200">
                    Health Management System
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-accentColor hover:text-bgColor rounded-lg text-sm p-1.5 ml-auto inline-flex items-center transition-colors duration-500 ease-in-out focus:ring-4 focus:ring-accentColorSecondary focus:outline-none" data-modal-toggle="project-2-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <!-- Carousel Starts Here -->
                <div id="default-carousel" class="relative" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-60 overflow-hidden rounded-lg lg:h-96">
                        <!-- Item 1 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/ghms/1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/ghms/2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/ghms/3.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        <!-- Item 4 -->
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="../../../../assets/img/projects/ghms/4.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-gray-600 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-bgColor sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-gray-800/30 group-hover:bg-gray-800/50 group-focus:ring-4 group-focus:ring-gray-600 group-focus:outline-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-bgColor sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
                <!-- Carousel Ends Here -->
                <div class="text-gray-200">
                    <p class="text-base leading-relaxed text-gray-300">
                        This Android OS application was developed using Flutter. The concept of this application was to keep a database of users' self-managed medical records which can be accessed by medical personnel in case of emergency.
                    </p>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button type="button" data-modal-toggle="project-2-modal" class="disabled shadow-md bg-btnBg text-gray-100 focus:ring-4 focus:ring-accentColorSecondary focus:outline-none hover:bg-accentColor hover:text-bgColor transition-colors duration-500 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Project 2 Modal -->

<!-- Project 3 Modal -->
<div id="project-3-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-4xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-bgSecondary rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-5 rounded-t border-b">
                <h3 class="text-xl font-medium text-gray-200">
                    Home Media Server
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-accentColor hover:text-bgColor rounded-lg text-sm p-1.5 ml-auto inline-flex items-center transition-colors duration-500 ease-in-out focus:ring-4 focus:ring-accentColorSecondary focus:outline-none" data-modal-toggle="project-3-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-300">
                    This home media server is designed to be run on a Raspberry Pi (3b or newer versions) to stream media content such as videos, pictures and music over any DLNA compatible device over the network. It uses a torrent client to download content directly to an external HDD attached to the RPi, from where any user on the network can stream that content on a DLNA compatible device such as any smart TV. You can find out more about installation and requirements at the github page by clicking on the source code button below.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <a href="https://github.com/NaeemKhan14/DLNA-Home-Media-Server" target="_blank" class="shadow-md bg-btnBg text-gray-100 focus:ring-4 focus:ring-accentColorSecondary focus:outline-none hover:bg-accentColor hover:text-bgColor transition-colors duration-500 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center">Source Code</a>
            </div>
        </div>
    </div>
</div>
<!-- Project 3 Modal -->

<!-- Modals -->