<form [formGroup]="contactForm" (ngSubmit)="submit()">
  <div class="relative z-0 mb-6 w-full group">
      <input type="text" formControlName="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-400 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-accentColor peer" placeholder=" " required />
      <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-accentColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Full Name</label>
      <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="isSubmitted && form['name'].errors">This field is required</p>
    </div>
  <div class="relative z-0 mb-6 w-full group">
      <input type="email" formControlName="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-400 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-accentColor peer" placeholder=" " required />
      <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-accentColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email Address</label>
      <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="isSubmitted && form['email'].errors && form['email'].errors['required']">This field is required</p>
      <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="isSubmitted && form['email'].errors && form['email'].errors['pattern']">Please provide a valid email address</p>
  </div>
  <div class="relative z-0 mb-6 w-full group">
      <textarea type="textarea" rows=6 formControlName="message" id="message" class="block py-2.5 px-0 w-full text-sm text-gray-400 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-accentColor peer" placeholder=" " required></textarea>
      <label for="message" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-accentColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
      <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="isSubmitted && form['message'].errors">This field is required</p>
  </div>
  <button type="submit" class="shadow-md mt-3 bg-btnBg text-gray-100 rounded-lg px-5 py-2.5 focus:ring-4 focus:ring-accentColor focus:outline-none hover:bg-accentColor hover:text-bgColor transition-colors duration-500 ease-in-out">Contact Me</button>
</form>
